@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}

:root {
  /* color */
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /* background */
  --backgroundPrimary: #0061df;

  /* padding */

  --padding: 0 130px;
}
.maintitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */

  color: #0d263b;
}
.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Color / 2 */

  color: #0d263b;
}
.subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Text / Color */

  color: #696969;
}
.deleted {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-decoration-line: line-through;

  /* Text / Color */

  color: #696969;
}

.inline {
  white-space: nowrap;
  overflow: hidden;
}
